:root {
  --colour-bck-nav: #49acf3;/*Area Nav and footer*/
  --colour-bck-base:white;/*Area di contenuto*/
  --colour-bck-button:#A1D5FA;/*Area di contenuto*/
  --colour-bck-form: white;/*Form Area*/
  --colour-bck-backside: #deebf5;/*Area nullo*/
  --colour-bck-popup: white;/*Area pop up*/
  --colour-font: black;
  --colour-border: black;
  --colour-hover:lightgreen;
  --search-resultbox-bck: white;
}


[data-theme="d"] {
  --colour-bck-nav: #03416e;
  --colour-bck-base:#011D31;/*Area di contenuto*/
  --colour-bck-button:#0863A3;
  --colour-bck-form:#011D31;
  --colour-bck-backside: rgb(39, 38, 38);
  --colour-bck-popup: rgb(39, 38, 38);/*Area pop up*/
  --colour-border: white;
  --colour-hover:#88BAA9;
  --colour-font: white;
}

html,body {
  height: 100%;
}
body{
  background-color: var(--colour-bck-backside);
}

.privacy strong{
  color: #00ff11;
}

.privacy h2,.privacy h3{ 
  color: #00ff11;
}

.list-group-item{
  background-color: var(--colour-bck-base);
  box-shadow: none;
  border:  1px solid var(--colour-border) !important;
}
.singleRowOfFriendListPopUp{
  border:  1px solid var(--colour-border);
}

section,.card{
  color: var(--colour-font);
  background-color: var(--colour-bck-base);
  border:  1px solid var(--colour-border) !important;
}

.card-body,.card-header,.card-footer{
  color: var(--colour-font);
  background-color: var(--colour-bck-base);
  outline:  1px solid var(--colour-border) !important;
}

.card-footer span{
  vertical-align: middle;
}

article.card > section > ul{
  flex-wrap: wrap;
}

article.card > section > ul > li{
  white-space:pre-wrap;
  width:fit-content;
  height: fit-content;
  display: inline-block;
}

form,input{
  color: var(--colour-font);
}
label, input {
  background-color: var(--colour-bck-form);
  text-align: center;
  border-radius: 15px;
  border:  1px solid var(--colour-border);
}
.form-floating  label{
  color: black;
}
.form-group label{
  overflow-wrap: break-word;
}
.notLoggedLanguages{
  color: var(--colour-font);
}
.bg-body{
  background-color: var(--colour-bck-base) !important;
  border:  1px solid var(--colour-border) !important;
}

.border{
  border:  1px solid var(--colour-border) !important;
}

.btn {
  background-color: var(--colour-bck-button);
  box-shadow: none;
  border:  1px solid var(--colour-border) !important;
  color: var(--colour-font);
}

.btn:disabled{
  background: rgb(133, 136, 120);
}

.btn:hover{
  background-color: var(--colour-hover);
}
#myTab{
  background-color: var(--colour-bck-nav);
}

.nav-justified .nav-item, .nav-justified>.nav-link {
  flex-basis: auto;
}

li.chatbg p, li.chatbg span, li.chatbg div > div > div{
  width: fit-content;
  height: fit-content;
}

body  header > div > div{/*top nav*/
  background-color: var(--colour-bck-nav);
}

.bottom-nav-button{/*bottom nav*/
  background-color: var(--colour-bck-nav);
  box-shadow: none;
  border:  1px solid var(--colour-border) !important;
  color: var(--colour-font);
}

button {
  box-shadow: 0 0 5px 2px black;
}
.profileLink{
  text-decoration: none;
  color: var(--colour-font);
}
a,p{
  text-decoration: none;
  color: var(--colour-font);
}
h2{
  color: var(--colour-font);
}
.profileLink:hover {
  background-color: var(--colour-hover);
}
footer nav ul li a h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--colour-font);
}
.nav-tabs button{
  box-shadow: none;
}
.nav-link.active {
  color:red !important;
}
.nav-link{
  color: var(--colour-font);
}

.avatar{
  border:  1px solid var(--colour-border) !important;
  object-fit: cover;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
body>main section ul li span {
  font-size: 15px;
}

.card-img-bottom {
  height: 75vh;
  object-fit: contain;
}

footer nav ul li a {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px black;
}

span {
  font-size: 150%;
  color: var(--colour-font);
}

h1 a {
  font-size: 120%;
  color: var(--colour-font);
}

.row{
  margin: 0;
}
.confirmBox{
  background-color: var(--colour-bck-popup);
  border: 1px solid var(--colour-border);
  color: var(--colour-font);
  text-align: center;
  width: fit-content;  
  height: fit-content;
  margin: auto;
  padding: 0;
}

.confirmShareBox{
  background-color: var(--colour-bck-popup);
  border: 1px solid var(--colour-border);
  color: var(--colour-font);
  text-align: center;
  width: auto;  
  height: auto;
  margin: auto;
  padding: 0;
}

.center-container{
  width: 100%;  
  height: 100%;
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 100;
}

.center-container2{
  width: 100%;  
  height: 100%;
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 100;
}
.center {
  top: 50%;
  left: 50%;
  background-color: var(--colour-bck-popup);
  position: absolute;
  transform: translate(-50%, -50%);
}

section#comments div{
  border: 1px solid var(--colour-border) !important;
}

section#comments > div.row > div:first-child{
  border: none!important;
}

.carousel-control-prev,.carousel-control-next{
  top : 25%;
  bottom: 25%;
}
/* Form buttons (used in new_post.php)*/
form>fieldset button {
  width: fit-content !important;
}

/* CHAT */
div.chat-body, #chat-bottom > form{
  border: 1px solid var(--colour-border);
  background-color: var(--colour-bck-base);
}

main > div.chat-body:nth-child(2){
  overflow-y: scroll;
}

div.chat-body > div.row > div{
  background-color: orange;
  width: fit-content;
  height: fit-content;
  max-width:50%;
}

div.chat-body > div.row > div.ms-auto{
  background-color: purple;
}

.minForm label{
  background-color: var(--colour-bck-backside);
  border: 0px;
}

.minForm fieldset:nth-of-type(2) > div > div{
  border: 1px solid var(--colour-border);
}

.minForm fieldset:nth-of-type(2) > div > div:last-of-type{
  border: 0px;
}

#cookiebar{
  background-color: var(--colour-bck-backside);
  border: 1px solid var(--colour-border);
  color: var(--colour-font);
}

#cookiebar > button{
  width:fit-content;
  height:fit-content;
}

#cookiebar a{
  color: #0A96FA;
}

.errmsg{
  display: none;
  color: red;
}