button {
  box-shadow: 0 0 5px 2px black;
}


body > footer nav ul li a div{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:black;
  font-size: large;
}

body > footer nav ul li a{
  height: 100%;
  display:block;
  margin: 0 20px 0 20px;
}

body > main section ul li > span  {
  font-size: 15px;
}

nav .btn{
	border-radius: 50%;
  box-shadow: 0 0 5px 2px black;
} 

footer nav .btn{
  width:25%;
}

span{
  font-size: 30px;
}
.btn-light{
  background-color: transparent;
}
.navbar-brand
{
  font-size: 30px;
}
#userIcon{
  height: 50px;
}
@media only screen and (min-width: 768px) {
  
  body > main section ul li span#profileinfo{
    font-size: large;
  }

  footer nav .btn{
    width:40%;
  }

  body > footer nav ul li a div{
   font-size: 25px; 
  }
  #userIcon{
    height: auto;
    max-height:75px;
  }
}