<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lynkzone - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="bg-primary bg-opacity-10 text-black">
<div class="container-fluid p-0 overflow-hidden">
        <header>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-12 col-md-8">
                    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #49acf3;">
                        <a class="navbar-brand position-absolute top-0 start-50 translate-middle-x" href="#">Lynkzone</a>
                        <ul class="nav nav-pills ms-auto">
                            <li> <button type="button" class="btn btn-light"><span class="bi bi-plus-circle"></span></button></li>
                            <li> <button type="button" class="btn btn-light"><span class="bi bi-bell"></span></button></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2"></div>
            </div>
        </header>

    <main class="text-center mb-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-8">
                <section class="bg-white border border-primary py-3">
                    <div class="card col-10 col-md-8 mx-auto">
                        <div class="card-header p-1" >
                            <ul class="nav nav-pills">
                                <li class="nav-item mx-2">  
                                    <figure class="figure m-2">
                                        <img id="userIcon" class="figure-img img-fluid rounded" src="../imgs/uploads/childe.jpg" alt="" />
                                    </figure>   
                                    <h2>Username</h2>
                                </li>
                                <li class="nav-item m-2"><button type="button" class="btn btn-light btn-sm border border-dark" style="box-shadow: none;">Segui</button></li>
                            </ul>
                             
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p><img class="card-img-bottom my-3" src="../imgs/uploads/childe.jpg" alt=""
                            style="width: 50%;" /></p>
                            <a href="#" class="btn btn-primary" style="float:right;">Espandi</a>
                        </div>
                        <div class="card-footer">
                            <ul class="nav nav-pills">
                                <li class="nav-item mx-2"> <button type="button" class="btn btn-light"><span class="bi bi-heart"></span></button></li>
                                <li class="nav-item mx-2"> <button type="button" class="btn btn-light"><span class="bi bi-chat"></span></button></li>
                                <li class="nav-item mx-2"> <button type="button" class="btn btn-light"><span class="bi bi-star"></span></button></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="bg-white border border-primary py-3">
                    <div class="card col-10 col-md-8 mx-auto">
                        <div class="card-header p-1" >
                            <ul class="nav nav-pills">
                                <li class="nav-item mx-2">  
                                    <figure class="figure m-2">
                                        <img id="userIcon2" class="figure-img img-fluid rounded" src="../imgs/uploads/childe.jpg" alt="" />
                                    </figure>
                                    <h2>Username2</h2>   
                                </li>
                                <li class="nav-item m-2"><button type="button" class="btn btn-light btn-sm border border-dark" style="box-shadow: none;">Segui</button></li>
                            </ul>
                             
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p><img class="card-img-bottom my-3" src="../imgs/uploads/childe.jpg" alt=""
                            style="width: 50%;" /></p>
                            <a href="#" class="btn btn-primary" style="float:right;">Espandi</a>
                        </div>
                        <div class="card-footer">
                            <ul class="nav nav-pills">
                                <li class="nav-item mx-2"> <button type="button" class="btn btn-light"><span class="bi bi-heart"></span></button></li>
                                <li class="nav-item mx-2"> <button type="button" class="btn btn-light"><span class="bi bi-chat"></span></button></li>
                                <li class="nav-item mx-2"> <button type="button" class="btn btn-light"><span class="bi bi-star"></span></button></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-2"></div>
        </div>
    </main>

    <footer class="pb-5">  
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-8">
                <nav class="fixed-bottom">
                    <ul id="bottombutton" class="nav nav-pills nav-justified" style="background-color: #49acf3;">
                        <li class="nav-item col-3 col-md-3"> 
                            <a href="#" class="btn btn-primary"><span class="bi bi-house-fill"><br><div>Home</div></span></a>
                        </li>
                        <li class="nav-item col-3 col-md-3">
                            <a href="#" class="btn btn-primary"><span class="bi bi-search"><br><div>Search</div></span></a>
                        </li>
                        <li class="nav-item col-3 col-md-3">
                            <a href="#" class="btn btn-primary"><span class="bi bi-chat-dots-fill"><br><div>Chat</div></span></a>
                        </li>
                        <li class="nav-item col-3 col-md-3"> 
                            <a href="./profile.html" class="btn btn-primary"><span class="bi bi-person-fill"><br><div>Profile</div></span></a>  
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2"></div>
           
        </div>
    </footer>
</div>
</body>

</html>