<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lynkzone - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="bg-primary bg-opacity-10 text-black">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-8">
                <header>
                    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #49acf3;">
                        <a class="navbar-brand mx-auto" href="#">Lynkzone</a>
                        <ul class="nav nav-pills">
                            <li> <button type="button" class="btn btn-light"><span
                                        class="bi bi-plus-circle"></span></button>
                            </li>
                            <li> <button type="button" class="btn btn-light"><span class="bi bi-bell"></span></button>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <main>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-8">
                <article class="bg-white border mt-4">
                    <h3>Home</h3>
                    <p>Home</p>
                    <h1>Home</h1>
                    <h3>Home</h3>
                    <h3>Home</h3>
                    <p>Home</p>
                    <h1>Home</h1>
                    <h3>Home</h3>
                    <h3>Home</h3>
                    <p>Home</p>
                    <h1>Home</h1>
                    <h3>Home</h3>
                    <h3>Home</h3>
                    <p>Home</p>
                    <h1>Home</h1>
                    <h3>Home</h3>
                    <h1>Home</h1>
                    <h3>Home</h3>
                    <p>Home</p>
                    <h1>Home</h1>
                    <h3>Home</h3>
                </article>
            </div>
            <div class="col-md-2"></div>
        </div>
    </main>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-8">  
                        <ul id="bottomnav" class="nav nav-pills nav-justified fixed-bottom" style="background-color: #49acf3;">
                            <li class="nav-item col-3 col-md-3"> <button type="button" class="btn btn-light"><span class="bi bi-house-fill"></span><br><h2>Home</h2></button></li>
                            <li class="nav-item col-3 col-md-3"> <button type="button" class="btn btn-light"><span class="bi bi-search"></span><h2>Search</h2></button></li>
                            <li class="nav-item col-3 col-md-3"> <button type="button" class="btn btn-light"><span class="bi bi-chat-dots-fill"></span><h2>CHAT</h2></button></li>
                            <li class="nav-item col-3 col-md-3"> <button type="button" class="btn btn-light"><span class="bi bi-person-fill"></span><h2>Profile</h2></button></li>
                        </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>

</html>